{
  "presets": [
    "env"
  ],
  "plugins": [
    "@babel/transform-runtime",
    "@babel/proposal-class-properties",
    "@babel/proposal-private-methods"
  ],
  "parserOpts": {
    "plugins": [
      "dynamicImport"
    ]
  }
}
