{
  "presets": [
    "env"
  ],
  "plugins": [
    "transform-runtime",
    "proposal-class-properties",
    "proposal-private-methods"
  ],
  "parserOpts": {
    "plugins": [
      "dynamicImport"
    ]
  }
}