@use "sass:math";

$lightColor--base: #111;
$lightColor--base2: #333;
$lightColor--active: #cfc;
$lightColor--active2: #4c4;
$lightColor--outline: hsl(120, 57%, 30%);

$lightColor--error: #c44;

.c-cadena {
  display: grid;
  height: 100%;
  padding: 2rem;

  select {
    font: inherit;
    padding: 0.5rem;
  }

  &__game {
    @media (max-height: 35rem) {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &__actions {
    position: absolute;
    top: 1rem;
    right: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  &__action {
    display: inline-block;
    cursor: pointer;
    margin: 0 0 1rem;
    padding: 0.5rem 1rem;
    font-family: inherit;
    border-radius: 5rem;
    background: #444;
    color: #fff;
    border: 0;
    letter-spacing: inherit;
    box-shadow: inset 0 0.2rem 0.2rem rgba(255, 255, 255, 0.1),
      inset 0 -0.2rem 0.2rem rgba(0, 0, 0, 0.2),
      0 0.5rem 0.5rem rgba(0, 0, 0, 0.3);
    transition: 0.1s ease-out;
    outline: none;

    &:hover,
    &:focus {
      background: #333;
    }

    &--active {
      background: #162d16;

      &:hover,
      &:focus {
        background: #193f19;
      }
    }

    &--mute {
      &::before {
        content: "";
        display: inline-block;
        width: 1.8em;
        height: 1.8em;
        vertical-align: middle;
        margin: -0.9em 0.5em -0.9em 0;
        background: url(../../img/volume_up.svg);
        background-size: contain;
      }
    }
    &--mute#{&}--active {
      &::before {
        background-image: url(../../img/volume_off.svg);
      }
    }
  }

  &__top {
    position: relative;
    text-align: center;
    margin: 0 auto;
  }

  &__bottom {
    width: 11rem;
    margin: 2rem auto;
    padding: 1rem 2rem;
    background: #222;
    border-radius: 1rem;
    box-shadow: inset 0 0.2rem 0.2rem rgba(255, 255, 255, 0.1),
      inset 0 -0.2rem 0.2rem rgba(0, 0, 0, 0.2),
      0 0.5rem 0.5rem rgba(0, 0, 0, 0.3);
  }

  &__timer {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translate(-50%, -50%);
    font-size: 1.75rem;
    font-family: monospace, sans-serif;
  }

  &__results {
    position: relative;
    width: 12rem;
    height: 12rem;
    background: #111;
    margin: 0.5rem auto;
    border-radius: 50%;
    box-shadow: inset 0 -0.2rem 0.2rem rgba(255, 255, 255, 0.03),
      inset 0 0.2rem 0.2rem rgba(0, 0, 0, 0.2),
      0 -0.2rem 0.2rem rgba(0, 0, 0, 0.2);

    // inner
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 7rem;
      height: 7rem;
      border-radius: 50%;
      transform: translate(-50%, -50%);
      background: #222;
      box-shadow: inset 0 0.2rem 0.2rem rgba(255, 255, 255, 0.1),
        inset 0 -0.2rem 0.2rem rgba(0, 0, 0, 0.2),
        0 0.2rem 0.4rem rgba(0, 0, 0, 0.5);
    }

    &--reverse {
      .c-cadena__result {
        span {
          border-top-width: 0.45rem;
          border-bottom-width: 0;
          margin: -0.4rem 0;

          &::before {
            top: auto;
            bottom: 100%;
            margin: 0 -0.4rem 0.6rem;
          }
        }
      }
    }
  }

  &__result {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    text-align: right;
    transform-origin: 0 50%;

    // arrow
    span {
      position: absolute;
      left: 4.2rem;
      bottom: 50%;
      width: 0;
      height: 0;
      margin: -0.1rem 0;
      border: solid 0.45rem transparent;
      border-bottom-color: #880;
      border-top-color: #880;
      border-top-width: 0;
      transform-origin: -4.2rem 50%;

      &::before {
        content: "";
        position: absolute;
        top: 100%;
        left: 0;
        width: 0.85rem;
        height: 0.15rem;
        margin: 0.6rem -0.4rem 0;
        background: #880;
      }
    }

    &::after {
      content: "";
      width: 1.25rem;
      height: 1.25rem;
      display: inline-flex;
      background: $lightColor--base;
      border-radius: 50%;
      margin: 0 0.75rem;
      box-shadow: inset 0 0.2rem 0.75rem rgba(255, 255, 255, 0.3),
        inset 0 -0.2rem 0.2rem rgba(0, 0, 0, 0.5), 0 0 0 $lightColor--active,
        0 0 0 $lightColor--active, 0 0 0 $lightColor--active,
        0 0 0 $lightColor--active2, 0 0 0 $lightColor--active2,
        0 0 0 $lightColor--active2, 0 0 0 $lightColor--active2,
        0 0 0 $lightColor--active2, 0 0.2rem 0.4rem rgba(0, 0, 0, 0.5);
      transition: all 300ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
    }

    &--active {
      &::after {
        background: $lightColor--active;
        //border: 1px solid $lightColor--active;
        animation: light 1.5s ease-in-out infinite alternate;
        transition-duration: 150ms;
      }
    }

    // create the rotation (min 5 element, max 20)
    @each $length in 4, 6, 8, 10, 12 {
      $baseRotationStep: math.div(360deg, $length);

      @for $i from 1 through $length {
        $rotationStep: math.div(360deg, $length) * ($i - 1);

        &:nth-child(#{$i}):nth-last-child(#{$length - $i + 1}) {
          transform: translateY(-50%) rotate((($rotationStep * -1) - 90deg));

          &::after {
            transform: rotate(($rotationStep + 90deg));
          }

          span {
            transform: rotate(($baseRotationStep * 0.5));
          }

          .c-cadena__results--reverse & {
            span {
              transform: rotate(math.div($baseRotationStep, -2));
            }
          }
        }
      }
    }
  }

  &__btns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    padding: 0;
  }

  &__btn {
    position: relative;
    display: inline-block;
    justify-self: center;
    outline: none;
    cursor: pointer;
    margin: 0.5rem;
    width: 2rem;
    height: 2rem;
    background: #111;
    border: 0;
    box-shadow: inset 0 -0.2rem rgba(255, 255, 255, 0.1),
      inset 0 0.2rem rgba(0, 0, 0, 0.2);
    -webkit-tap-highlight-color: transparent;

    &::before {
      content: attr(data-value);
      position: absolute;
      top: 50%;
      left: 100%;
      margin: 0 0rem;
      padding: 1rem;
      transform: translateY(-50%);
      color: #822;
      font-size: 1rem;
      font-weight: 700;
      pointer-events: none;
    }

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 1rem;
      height: 1rem;
      border-radius: 50%;
      transform: translate(-50%, -50%);
      background: #333;
      box-shadow: inset 0 0.2rem 0.3rem rgba(255, 255, 255, 0.2),
        inset 0 -0.2rem 0.3rem rgba(0, 0, 0, 0.5);
      transition: 0.1s ease-out;
    }

    &:nth-child(2n + 1)::before {
      left: auto;
      right: 100%;
    }

    &:hover,
    &:focus {
      &::after {
        background: #777;
      }
    }

    &:focus-visible {
      outline: $lightColor--outline solid 0.2rem;
      outline-offset: -0.2rem;
    }

    &--active {
      &,
      &:hover,
      &:focus {
        &::after {
          background: #333;
          opacity: 0.4;
        }
      }
    }
  }

  &__game {
    &--loose {
      animation: fadeOut 0.3s ease-out 0.9s;
      animation-fill-mode: both;

      .c-cadena {
        &__result {
          &::after {
            animation: unlock-loose 0.3s 3;
          }
        }
      }
    }

    &--win {
      animation: fadeOut 0.3s ease-out 3.5s;
      animation-fill-mode: both;

      .c-cadena {
        &__result {
          &::after {
            animation: unlock-win 0.6s 4 0.3s;
            animation-fill-mode: forwards;
          }
          &:nth-child(odd)::after {
            animation-delay: 0.6s;
          }
        }
      }
    }
  }
}

@keyframes light {
  from {
    box-shadow: inset 0 0.2rem 0.75rem rgba(255, 255, 255, 0.3),
      inset 0 -0.2rem 0.1rem rgba(0, 0, 0, 0.1), 0 0 10px $lightColor--active,
      0 0 20px $lightColor--active, 0 0 30px $lightColor--active,
      0 0 40px $lightColor--active2, 0 0 70px $lightColor--active2,
      0 0 80px $lightColor--active2, 0 0 100px $lightColor--active2,
      0 0 150px $lightColor--active2, 0 0.2rem 0.4rem rgba(0, 0, 0, 0.5);
  }
  to {
    box-shadow: inset 0 0.2rem 0.75rem rgba(255, 255, 255, 0.3),
      inset 0 -0.2rem 0.1rem rgba(0, 0, 0, 0.1), 0 0 5px $lightColor--active,
      0 0 10px $lightColor--active, 0 0 15px $lightColor--active,
      0 0 20px $lightColor--active2, 0 0 35px $lightColor--active2,
      0 0 40px $lightColor--active2, 0 0 50px $lightColor--active2,
      0 0 75px $lightColor--active2, 0 0.2rem 0.4rem rgba(0, 0, 0, 0.5);
  }
}

@keyframes unlock-win {
  0%,
  49% {
    background: $lightColor--base;
    animation: none;
    box-shadow: inset 0 0.2rem 0.75rem rgba(255, 255, 255, 0.3),
      inset 0 -0.2rem 0.1rem rgba(0, 0, 0, 0.1), 0 0 0 $lightColor--active,
      0 0 0 $lightColor--active, 0 0 0 $lightColor--active,
      0 0 0 $lightColor--active2, 0 0 0 $lightColor--active2,
      0 0 0 $lightColor--active2, 0 0 0 $lightColor--active2,
      0 0 0 $lightColor--active2, 0 0.2rem 0.4rem rgba(0, 0, 0, 0.5);
  }
  50%,
  100% {
    background: $lightColor--active;
    //border: 1px solid $lightColor--active;
  }
  65%,
  100% {
    background: $lightColor--active;
    animation: none;
    //transition-duration: 150ms;
    box-shadow: inset 0 0.2rem 0.75rem rgba(255, 255, 255, 0.3),
      inset 0 -0.2rem 0.1rem rgba(0, 0, 0, 0.1), 0 0 0 $lightColor--active,
      0 0 20px $lightColor--active, 0 0 30px $lightColor--active,
      0 0 40px $lightColor--active2, 0 0 70px $lightColor--active2,
      0 0 80px $lightColor--active2, 0 0 100px $lightColor--active2,
      0 0 150px $lightColor--active2, 0 0.2rem 0.4rem rgba(0, 0, 0, 0.5);
  }
}

@keyframes unlock-loose {
  0% {
  }
  50% {
    background-color: $lightColor--error;
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
  }
}
